{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Items {% endblock title %}


{%block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
        Items
    </h2>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Slug</th>
            <th scope="col">Supply(V)</th>
            <th scope="col">P(KW)</th>
            <th scope="col">I(A)</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
          <tr>
            <th>{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.slug }}</td>
            <td>{{ item.get_voltage_supply_display }}</td>
            <td>{{ item.power }}</td>
            <td>{{ item.current}}</td>
            <td>
              <a href="{% url 'estimations:edit_item' project_id item.id %}">edit</a>
              /
              <a href="{% url 'estimations:delete_item' project_id item.id %}">delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <a href="{% url 'estimations:create_item' project_id %}" >New Item</a>
  </div>
</div>
{% endblock content %}
