{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% block title %} New Items {% endblock title %}


{% block javascript %}
<!-- Bootstrap JS -->
<script defer
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
    integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
  <!-- Your stuff: Third-party javascript libraries go here -->
  <script defer src="{% static 'js/add_IO_rows_form.js' %}"></script>
{% endblock javascript %}

{%block content %}
<div class="container">
  <div class="row">
    <h2 class="text-center">
        New Control Flow
    </h2>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form class="create" method="POST" action="{% url 'estimations:create_item' project_id %}">
				{% csrf_token %}
        <div class="row mt-3">
          <label for="fan-select" class="form-label">Select Fan/Item </label>
            <select class="form-select" id="fan-select" name="fan-select">
              <option value="DI">Digital Input</option>
              <option value="DO">Digital Output</option>
              <option value="AI">Analog Input</option>
              <option value="AO">Analog Output</option>
            </select>
        </div>
        <div class="row mt-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" name="description" rows="4"></textarea>
        </div>
        <div class="row mt-2">
          <label class="text-center"> IO Needed </label>
          <div id="IO-controller">
          </div>
          <div class="row mt-1">
            <div class="offset-10 col-3">
              <button class="btn btn-outline-success btn-sm" type="button" id="addIO">
                <i class="bi bi-plus-square"></i> Add IO
              </button>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-2">
            <button class="primaryAction btn btn-primary" type="submit">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
