{% extends "base.html" %}


{% block title %} Control Flows {% endblock title %}


{%block content %}
  <div class="container">
    <div class="row">
      <h2 class="text-center">
          Control Flows
      </h2>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Project</th>
              <th scope="col">Description</th>
              <th scope="col">DI</th>
              <th scope="col">DO</th>
              <th scope="col">AI</th>
              <th scope="col">AO</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for cf in control_flows %}
            <th>{{ cf.id }}</th>
            <td>{{ cf.project.name }}</td>
            <td>{{ cf.description }}</td>
            <td>{{ cf.digital_input_str }} - {{ cf.digital_input_num }}</td>
            <td>{{ cf.digital_output_str }} - {{ cf.digital_output_num }}</td>
            <td>{{ cf.analog_input_str }} - {{ cf.analog_input_num }}</td>
            <td>{{ cf.analog_output_str }} - {{ cf.analog_output_num }}</td>
            <td>
              <a href="{% url 'estimations:edit_control_flow' project_id cf.id %}">edit</a>
              /
              <a href="{% url 'estimations:delete_control_flow' project_id cf.id %}">delete</a>
            </td>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <a href="{% url 'estimations:create_control_flow' project_id %}">New Control Flow</a>
    </div>
  </div>
{% endblock content %}
