{% extends "base.html" %}


{% block title %} Estimation {% endblock title %}


{%block content %}
  <div class="row">
    <div class="col-12 text-center">
      <h1>Projects</h1>
    </div>
  <div class="row">
    <div class="col-12">
      <ol class="list-group">
        {% for project in projects %}
          <li class="list-group-item">
            <a href="{% url 'estimations:detail_project' project.id %}">{{ project.name }}</a>
            <ol class="list-group">
              {% for board in project.boards.all %}
              <li class="list-group-item">
                {{ board.name }} - name
              </li>
              {% endfor %}
            </ol>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="offset-10 col-2 mt-5">
      <a class="btn btn-primary" href="{% url 'estimations:create_project' %}">New Project</a>
    </div>
  </div>
{% endblock content %}
