{% extends "base.html" %}


{% block title %} Estimation {% endblock title %}


{%block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <ul>
        {% for project in projects %}
          <li><a href="{% url 'estimation:detail_project' project.id %}">{{ project.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <a href="{% url 'estimation:create_project' %}">New Project</a>
  </div>
</div>
{% endblock content %}
